<h1>Journals#show</h1>
<p>Find me in app/views/journals/show.html.erb</p>
<h2>Your Entries</h2>

<h2><%= @journal.title %></h2>

<table>
  <% for entry in @entries %>
  <tr>  
    <td>
      <h3><%= entry.title %></h3>
      <p>Location: <%= entry.location %></p>
      <p>Date: <%= entry.date %></p>
      <p>Weather: <%= entry.weather %></p>
    </td>
    <td>
      <p><%= entry.text %></p>
    </td>
    <td>
      <img src="<%= entry.image_url %>">
    </td>
    <td>
      <%= link_to "Edit Entry", edit_user_journal_entry_path(current_user, @journal, entry) %>
      <%= link_to "Delete Entry", user_journal_entry_path(current_user, @journal, entry), method: :delete %>      
    </td>
  </tr>
  <% end %>
</table>

<%= link_to "Edit Journal", edit_user_journal_path(current_user, @journal) %>
<%= link_to "Add Entry", new_user_journal_entry_path(current_user, @journal) %>
<%= link_to "Home", user_journals_path(current_user) %>
<%= link_to "Delete Journal", user_journal_path(current_user, @journal), method: :delete %>

